.commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid gray;
    padding: 15px;
    margin-bottom: 5px;
    margin-top: 5px;

    .details {
        display: flex;
        align-items: center;
        .controls {
            color: blue;
            font-size: 12px;
            margin-top: 5px;
            span {
                margin-right: 4px;
                cursor: pointer;
            }
        }
        .image {
            background-color: gray;
            border-radius: 100%;
            margin-right: 1rem;
        } 
    }

    .replyBox {
        border: 1px solid black;
        padding: 10px;
        border-radius: 5px;
        margin-top: 5px;
    }
}